postgres_data/
redis_data/
qdrant_data/
ollama_data/
florence_cache/
data/
models/
.env
phases/*
cmd/smoketest/*
architecture.png
app
assets/temp/*
whisper.cpp/*
whisper_server/*
*.md
bin/*
graphify-out/*